# Log file
*.log


# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#node modules
node_modules

#cypress reports
cypress/reports/

cypress/videos/
cypress/screenshots/
cypress/reports/json/



